body {
    background-color: blue;
}

h3 {
    text-align: center;
    color: black;
    font-size: 50px;
}

.allCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}







#bart {
    border: thin solid black;
}
#marge{
    border: thin solid black;
}
#burns{
    border: thin solid black;
}
#maggie{
    border: thin solid black;
}
#ned{
    border: thin solid black;
}
#jimbo{
    border: thin solid black;
}
#milhouse{
    border: thin solid black;
}