body {
    background-color:green;
}

h1 {
    text-align: center;
    color: black;


}

.allCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top {
    
}
.button {
    margin-left: 24px;
}

p {
    margin-top: 0;
}
.button {
    
}

#correct {
    margin-bottom: 20px;
    margin-top: 5px;
}

#correct {
    color: blue;
}

#incorrect {
    color: red;
}
.logo {
    margin: 0 auto 0 auto;
}
.trivia {
    margin-top: 0px;
}