body {
    background-color: blue;
}

h2 {
    text-align: center;
    color: black;


}

.allCharacters {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.top {
    border: thin solid black;
}
.middle {
    border: thin solid black;
}
.bottom {
    border: thin solid black;
}
.button {
    margin-left: 24px;
}

p {
    margin-top: 0;
}
.button {
    margin-bottom: 50px;
}

.text {
}